.wp-block-mailster-homepage.is-selected {
}

.wp-block-mailster-homepage .context-explanation {
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0.8;
	font-size: 12px;
	padding: 0.3em 0.6em;
	opacity: 0;
	z-index: 10;
	background-color: var(--wp-admin-theme-color);
	color: var(--wp-components-color-accent-inverted, #fff);
}
.wp-block-mailster-homepage:hover .context-explanation,
.wp-block-mailster-homepage.is-selected .context-explanation {
	opacity: 1;
}
.wp-block-mailster-homepage .section-info {
	color: gray;
	position: absolute;
	right: 0;
	transform: translateY(-100%);
	font-size: 12px;
	_display: none;
	cursor: default;
}
.wp-block-mailster-homepage:hover .section-info {
	display: block;
}
.wp-block-mailster-homepage {
}
.wp-block-mailster-homepage
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout
	.mailster-form-type {
	display: none;
}

.wp-block-mailster-homepage.tab-submission
	.block-editor-block-list__layout
	.mailster-form-type-submission {
	display: block;
}
.wp-block-mailster-homepage.tab-profile
	.block-editor-block-list__layout
	.mailster-form-type-profile {
	display: block;
}
.wp-block-mailster-homepage.tab-unsubscribe
	.block-editor-block-list__layout
	.mailster-form-type-unsubscribe {
	display: block;
}
.wp-block-mailster-homepage.tab-subscribe
	.block-editor-block-list__layout
	.mailster-form-type-subscribe {
	display: block;
}
